
body {
    background-color: #ebeded;
    width: 100;
    height: auto;
}
header {
    background-color: #131921;
    margin-bottom: left;
    
    }
#logo {
    width: 8em;
    height: 2.5em;
 
}

#liste {
   
   background-color: #232F3E;
   font-family: Arial, Helvetica, sans-serif;
   padding-left: 10px;
   padding-right: 15px;
   padding-bottom: 10px;
   font-size: 19px;
   margin-top: 8px;
     
}

#par {
    background-color: rgb(245, 109, 60);
    text-align: center;
    font-family:Arial, Helvetica, sans-serif ;
    font-weight: bolder;
    
}

#span {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-image: url('bg-image.png');
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    

}

#background {
    background-color: white;
}

.medium {
    width: 23vw;
    height: 36vh;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 2px;
    padding-right: 2px;
    padding-bottom: 10px;
    border-radius: 2px;
    border-radius: 15px 15px 15px 15px;  

}

#large {
    width: 100%;
    height: 25em;
    
}

#large2 {
    width: 100%;
    height: 25em;
}
    
.center {
    text-align: center;
    margin-bottom: 20px;

}



#bottom{
    background-color: #232F3E;
    margin-top: 16px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

#logo1{
    background-color: #131921;
    margin-bottom: center;
    
}

#center{
    width: 8em;
    height: 2.5em;
    display: block;
    margin: 0 auto;

}